<div id="header">
  <div>
		<%= link_to(image_tag("home.png", :class => 'item_images'), { :controller => :root, :action => :index}) %>
	      
	  <%# Replace localhost by real host%>  		
		<div class="fb-like" data-href="http://localhost:3000/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

		<div>
			<a class="btn btn-block btn-lg btn-success" href="topviews" role="button">Top Views Videos</a>
		</div>

<!-- 		<div>
		  <a class="btn btn-block btn-lg btn-primary disabled" href="mostpopular" role="button">You are watching Most Popular Videos</a>
		</div> -->
	</div><br>




<!-- 	  <form role="form">
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select> -->
      <%= "SMARTPHONE"%>

	<div><form id="selectedOptions" class="form-inline" role="form">
	  <div class="form-group select-country">
			<select class="form-control" id="selectedCountry">
			  <option value disabled selected> -- Country --</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
				<option value="in">India</option>
				<option value="de">Germany</option>
				<option value="jp">Japan</option>
				<option value="te">Test</option>
			</select>
		</div>
    
    <div class="form-group select-category">
      <select class="form-control" id="selectedCategory">
			  <option value disabled selected> -- Category -- </option>
				<option value="35">Documentary</option>
				<option value="34">Comedy</option>
				<option value="2">Autos & Vehicles</option>
				<option value="10">Music</option>
				<option value="26">Howto & Style</option>
				<option value="35">Documentary</option>
				<option value="37">Family</option>
				<option value="38">Foreign</option>
				<option value="44">Trailers</option>
				<option value="15">Pets & Animals</option>
		  </select>
		</div>

		<div class="form-group select-limit">
      <select class="form-control" id="selectedLimit">
			  <option value disabled selected> -- Limit -- </option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="25">25</option>
				<option value="30">30</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>

	  <!-- <button type="submit" class="get-list btn btn-danger" onclick="actionDetermine()">Go</button>


		<div><input type="submit" value="Get the list" onclick="actionDetermine()"></div> -->
	</form></div>

</div><!-- #header -->